@font-face {
  font-family: NunitoSans;
  src: url(./assets/fonts/vertopal.com_NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.woff);
  src: url(./assets/fonts/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf) format(truetype);
}

html {
  font-family: NunitoSans, sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  line-height: 1em;
}

ul {
  text-align: right;
}
.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: none;
  line-height: 1em;
}

.App-nav {
  display: flex;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
  height: 40px;
  align-items: center;
  font-weight: bold;
  color: white;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 40px;
}
