@font-face {
  font-family: NunitoSans;
  src: url(./assets/fonts/vertopal.com_NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.woff);
  src: url(./assets/fonts/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf) format(truetype);
}

html {
  font-family: NunitoSans, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.hero {
  background-image: url("./assets/img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
.hero-txt {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: Nunito sans, sans-serif;
    font-weight: 600;
}
#avatar {
  background-image: url("https://avatars.githubusercontent.com/u/19842736?v=4");
  background-repeat: no-repeat;
  background-size: contain;
}