@import 'bootstrap-icons/font/bootstrap-icons.css';
@font-face {
  font-family: NunitoSans;
  src: url(./assets/fonts/vertopal.com_NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.woff);
  src: url(./assets/fonts/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf) format(truetype);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
